<div class="container unlock" >
  <div class="card mt-3">
    <div class="card-body text-center">
      <h5 class="card-title text-danger">NOT Found </h5>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center vh-95 m-4">
    <div class="text-center">
      <img src="../../../assets/images/notfound.png" alt="Locked" style="width: 70%;" class="mb-4">
      <h4>Sorry, Not Found Page </h4>
      <p class="text-muted">This Page is not found.</p>
    </div>
  </div>
</div>

